name: DEV 
on:
    pull_request:
        branches: 
            - 'feature/**'
            - 'dev'

    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Merging feature int DEV
              run: echo "Merging feature into dev"